.galleryScroller {
	max-width: 100%;
	overflow: hidden;
	-webkit-mask: linear-gradient(
		90deg,
		transparent,
		white 5%,
		white 95%,
		transparent
	);
	mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
}

.galleryScroller__inner {
	padding-block: 1rem;
	display: flex;
	gap: 1rem;
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll 45s linear alternate infinite;
}
.galleryScroller__inner_reversed {
	padding-block: 1rem;
	display: flex;
	gap: 1rem;
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll 45s linear alternate-reverse infinite;
}

.galleryImg {
	width: 300px;
	height: 200px;
	object-fit: cover;
}
@keyframes scroll {
	to {
		transform: translate(calc(-50% - 0.5rem));
	}
}
