.card_img_wrapper {
	position: absolute;
	top: -100px;
	width: 100%;
	height: 250px;
	scale: 0.75;
}

.about_card_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
}
.about_card {
	-webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.about_card_content {
	position: absolute;
	top: 130px;
	text-align: center;
	padding: 0 20px;
}
.about_card_text {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media screen and (max-width: 991.99999px) {
	.about_card:nth-child(2) {
		margin-top: 0;
	}
	.about_card:first-child {
		margin-top: 0;
	}
	.about_card:nth-child(3),
	.about_card:nth-child(4) {
		margin-top: 100px;
	}
}
@media screen and (max-width: 480px) {
	.about_card:nth-child(2) {
		margin-top: 100px;
	}
}
